$color-primary: #63C6AE !default;
$color-secondary: #E29E4A !default;
$color-white: #FFF !default;
$color-black: #606060 !default;
$color-light-gray: #F9F9F9 !default;
$brand-primary: $color-primary !default;
$brand-info: $color-white !default;
// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

@import "fonts";
@import "home";

.btn {
  border-width: 3px;
  transition-duration: 0.5s;
}

button {
  outline: 0;
}

.btn-lg {
  padding: 0.75rem 2.5rem;
}

.btn-primary {
  &:focus {
    box-shadow: none;
  }
  &:visited {
    color: $color-white;
    background-color: $color-secondary;
    border-color: $color-secondary;
  }
  &:hover {
    color: $color-primary;
    background-color: $color-white;
    border-color: $color-white;
  }
  &:active {
    color: $color-white;
    background-color: $color-secondary;
    border-color: darken($color-secondary, 15);
  }
}

.btn-outline-info {
  &:focus {
    box-shadow: none;
  }
  &:hover {
    color: $color-primary;
    background-color: $color-white;
  }
  &:active {
    color: $color-white;
    background-color: $color-primary;
    border-color: darken($color-primary, 15);
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family:'Oxygen', sans-serif;
  position: relative;
}

/* Customize container */
@media (min-width: 62em) {
  .container {
    max-width: 60rem;
  }
}

/* Carousel animation fade */
.carousel-fade {
  .carousel-inner {
    .carousel-item {
      transition-property: opacity;
      transition-duration: 1s;
    }
    .active + .carousel-item,
    .active.carousel-item-left,
    .active.carousel-item-right {
      opacity: 0;
    }
    .carousel-item,
    .carousel-item-next.carousel-item-left,
    .carousel-item-prev.carousel-item-right {
      opacity: 1;
    }
    .carousel-item-next,
    .carousel-item-prev,
    .active.carousel-item-left,
    .active.carousel-item-right {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }
}
